        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-size:cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        header, footer {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        main {
            padding: 2em;
            background-color: rgba(255, 255, 255, 0.8);
            margin: 2em;
            border-radius: 10px;
        }